
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/MyScript")
    <meta name="viewport" content="width=device-width" />
    <title>SignUpPay</title>
</head>
<body style="min-width:480px">
    <div class=" container bs-cont">
        <div class="row">
            <div class=" container bs-cont">
                <div class="col-sm-1 col-md-2 col-lg-2"> </div>
                @using (Html.BeginForm())
                {
                    <div class="container container-table">
                        <div class="col-sm-10 col-md-8 col-lg-8">
                            <div class="form-group">
                                <h1 style="text-align:center; color:#eb9822; margin-top:100px">Регистрация</h1>
                                <hr />
                                <ol class="track-progress" data-steps="3">
                                    <li>
                                        <span>Профиль</span>
                                        <i></i>
                                    </li><li>
                                        <span>Доп.информация</span>
                                    </li><li>
                                        <span style="color:#eb9822">Оплата</span>
                                        <i></i>
                                    </li>
                                </ol>
                                <div class="container container-table" style="margin-top:40px; text-align:center;">

                                    <div style="margin: 20px">
                                        <input type="submit" value="Готово" class="btn btn-default btn-lg" style="color:#eb9822" onclick="return ValidSignUp(this)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-sm-1 col-md-2 col-lg-2"> </div>
            </div>
        </div>
    </div>
</body>
</html>
