
@{
    ViewBag.Title = "SignUp";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
    <div class=" container bs-cont">
        <div class="row">
            <div class=" container bs-cont">
                <div class="col-sm-3 col-md-4 col-lg-4"> </div>
                <form>
                    <div class="container container-table">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <h1 style="text-align:center; color:#eb9822; margin-top:120px">Sign Up</h1>
                                <hr />
                                <div class="container container-table" style="margin-top:40px; text-align:center;">
                                    <input style="margin: 20px auto 0 auto" type="text" class="form-control input-lg" placeholder="Username" aria-describedby="basic-addon1">
                                    <input style="margin: 20px auto 0 auto" type="text" class="form-control input-lg" placeholder="Email" aria-describedby="basic-addon1">
                                    <input style="margin: 20px auto 0 auto" type="password" class="form-control input-lg" placeholder="Password" aria-describedby="basic-addon1">
                                    <input style="margin: 20px auto 0 auto" type="password" class="form-control input-lg" placeholder="Confirm Password" aria-describedby="basic-addon1">
                                    <div style="margin: 20px">
                                        <input type="submit" value="Sign Up" class="btn btn-default btn-lg" style="color:#eb9822">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-sm-3 col-md-4 col-lg-4"> </div>
            </div>
        </div>
    </div>
</body>
</html>
