@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindCharge</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="map" style="width:100%;height:100%; position:absolute; top: 0px; left: 0px"></div>
    <script>
        var map;
        var markers = [];

        function initMap() {
            var haightAshbury = { lat: 47.838800, lng: 35.10 };

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: haightAshbury,
                mapTypeId: 'terrain'
            });

            map.addListener('click', function (event) {
                deleteMarkers();
                addMarker(event.latLng);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Dispatcher", "FindCharge")',
                    data: { latLng: JSON.stringify(event.latLng) }
                });
            });
        }

        function addMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            markers.push(marker);
        }

        function clearMarkers() {
            setMapOnAll(null);
        }

        function showMarkers() {
            setMapOnAll(map);
        }

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEPGzLwvvtt5aCIu2QzO645E-Wlr1ESvg&callback=initMap"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>
